<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Editar</h4>
          <p class="card-category">Complete la información</p>
        </div>
        <div class="card-body">
          <form [formGroup]="terceroForm">
            <div class="row">
              <div class="col-md-7">
                <mat-form-field class="full-width">
                  <mat-label>Razón Social</mat-label>
                  <input
                    matInput
                    placeholder="Empresa con nombre"
                    formControlName="razonSocialTercero"
                  />
                  <mat-error
                    *ngIf="controls.razonSocialTercero.hasError('required')"
                    >Por favor ingrese un nombre</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="full-width">
                  <mat-label>Nit</mat-label>
                  <input
                    matInput
                    placeholder="10101010"
                    formControlName="nitTercero"
                  />
                  <mat-error *ngIf="controls.nitTercero.hasError('required')"
                    >Por favor ingrese un nit</mat-error
                  >
                  <mat-error
                    *ngIf="controls.nitTercero.hasError('canNotContainSpace')"
                  >
                    El nit no puede contener espacios
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contacto
                    </mat-panel-title>
                    <mat-panel-description>
                      ¿Desea agregar un nuevo contacto?
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Dirección</mat-label>
                        <input
                          matInput
                          placeholder="calle 123 # 123 - 321"
                          formControlName="terceroDireccion"
                        />
                        <mat-error
                          *ngIf="
                            controls.terceroDireccion.hasError('maxlength')
                          "
                        >
                          Se excedió el limite de caracteres
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Celular</mat-label>
                        <input
                          type="number"
                          matInput
                          placeholder="3213216541"
                          formControlName="terceroNumeroCelular"
                        />
                        <mat-error
                          *ngIf="controls.terceroNumeroCelular.hasError('max')"
                        >
                          Se excedió el limite de caracteres
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input
                          type="email"
                          matInput
                          placeholder="correo@dominio.com"
                          formControlName="terceroEmail"
                        />
                        <mat-error
                          *ngIf="controls.terceroEmail.hasError('maxlength')"
                        >
                          Se excedió el limite de caracteres
                        </mat-error>
                        <mat-error
                          *ngIf="controls.terceroEmail.hasError('email')"
                        >
                          El email es invalido
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                >
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <br />
            <button
              mat-raised-button
              type="submit"
              color="primary"
              class="pull-right"
            >
              Actualizar {{ selectedValue }}
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="tercero.contactosTercero">
      <app-data-table
        [data]="tercero.contactosTercero"
        [headers]="headersContactos"
        [information]="informationTable"
      ></app-data-table>
    </div>
  </div>
</div>
