<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{ sesion.unique_name }}</h2>
    </div>
    <img src="/assets/LOGODULCESYMAS.png" alt="" />
  </div>
  <mat-divider></mat-divider>

  <h2 mat-subheader>Pages</h2>
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>

    <mat-divider></mat-divider>
    <h2 mat-subheader>Herramientas</h2>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/dashboard"
    >
      <i class="material-icons"><mat-icon>import_contacts</mat-icon></i>
      Contacto
    </a>
  </ul>
</mat-nav-list>
