/* .example-card{
	width: 400px;
} */
.productos-header {
  display: flex;
  justify-content: center;
}
.search-form {
  width: 50%;
  margin: 1%;
}
.container-header-card {
  font-size: 5vh !important;
  box-sizing: content-box !important;
}
.producto-card {
  display: inline-block;
  margin: 1%;
  width: 15em;
  height: 10em;
}
.circulo {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.paginator-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
@media (max-width: 767px) {
  .producto-card {
    width: 98%;
    margin: 1%;
  }
}
