/* .example-card{
	width: 400px;
} */
.productos-header {
  display: flex;
  justify-content: center;
}
.search-form {
  width: 50%;
  margin: 1%;
}
.producto-card {
  display: inline-block;
  margin: 1%;
  width: 20%;
}
.paginator-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
@media (max-width: 767px) {
  .producto-card {
    width: 98%;
    margin: 1%;
  }
}
