<div class="container-fluid">
  <div style="display: flex; justify-content: center;">
    <mat-form-field class="search-form">
      <input
        matInput
        placeholder="Buscar producto"
        type="search"
        [formControl]="searchControl"
      />
    </mat-form-field>

    <button
      type="button"
      mat-raised-button
      mat-icon-button
      matTooltip="Buscar"
      matTooltipPosition="below"
      color="primary"
    >
      <mat-icon>search</mat-icon>
    </button>

    <button
      mat-raised-button
      mat-icon-button
      matTooltip="Agregar"
      matTooltipPosition="below"
      (click)="openDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <app-listar
    [data]="data"
    path="productos"
    (paginationEmit)="($event)"
  ></app-listar>
</div>
