
<mat-card>
	<mat-card-title><img class="img-logo" src="/assets/LOGODULCESYMAS.png" alt="Logo de dulces y más"></mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <h2>Ingresar</h2>
      
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Usuario"
          formControlName="username"
          required
        />
        <mat-error>
          Por favor, ingrese un usuario valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error>
          Por favor, ingrese una contraseña valida
        </mat-error>
	  </mat-form-field>
	  <mat-error *ngIf="loginInvalid">
        El usuario y contraseña no fueron reconocidos
      </mat-error>
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
