<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container
      *ngFor="let col of headers; let i = index"
      [matColumnDef]="col.value"
    >
      <mat-header-cell *matHeaderCellDef>
        {{ col.text }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row[col.value] }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="headerValues"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headerValues"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
