/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h4,
h4 {
  font-size: 1.125rem;
  line-height: 1.4em;
  font-weight: 300;
}
.card-header {
  color: white;
  border-bottom: none;
  z-index: 3 !important;
}
.card-header-danger {
  background: linear-gradient(60deg, #673ab7, #8d62d8);
}
.card [class*="card-header-"] {
  margin: 0 15px;
  position: relative;
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(244, 67, 54, 0.4);
}
.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-size: 0.875rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 2px;
}
.card .card-category {
  margin: 0;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.sidebar[data-color="danger"] li.active > a {
  background-color: #673ab7;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(244, 67, 54, 0.4);
}
.sidebar .nav li.active > a,
.sidebar .nav li.active > a i {
  color: #fff;
}
.sidebar .nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
}
.full-width {
  width: 100%;
}
