.search-form {
  width: 50%;
  margin: 1%;
}
.paginator-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.tercero-card {
  display: inline-block;
  margin: 1%;
  width: 15em;
  height: 10em;
}
