<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Editar producto</h4>
            <p class="card-category">Complete la información</p>
          </div>
          <div class="card-body">
            <form [formGroup]="productoForm">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input
                      matInput
                      placeholder="Dulce de papaya"
                      formControlName="nombreProducto"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de producto</mat-label>
                    <mat-select formControlName="tipo">
                      <mat-option
                        *ngFor="let tipo of tiposDeProducto"
                        [value]="tipo"
                      >
                        {{ tipoDeProducto[tipo] }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="productoForm.get('tipo').hasError('required')"
                      >Por favor escoja un tipo</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Especificación</mat-label>
                    <mat-select formControlName="especificacion">
                      <mat-option
                        *ngFor="let especificacion of tiposDeEspecificacion"
                        [value]="especificacion"
                      >
                        {{ tipoDeEspecificacion[especificacion] }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        productoForm.get('especificacion').hasError('required')
                      "
                      >Por favor escoja una Especificación</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Unidad de Medida</mat-label>
                    <mat-select formControlName="unidadDeMedidaProducto">
                      <mat-option
                        *ngFor="let unidad of tiposDeUnidadDeMedida"
                        [value]="unidad"
                      >
                        {{ tipoDeUnidadDeMedida[unidad] }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        productoForm
                          .get('unidadDeMedidaProducto')
                          .hasError('required')
                      "
                      >Por favor escoja una unidad de medida</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Sub categoría</mat-label>
                    <mat-select formControlName="subCategoria">
                      <mat-option
                        *ngFor="let sub of subCategorias"
                        [value]="sub.id"
                      >
                        {{ sub.nombreSubCategoria }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        productoForm.get('subCategoria').hasError('required')
                      "
                      >Por favor escoja una sub categoría</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Cantidad</mat-label>
                    <input
                      matInput
                      type="number"
                      formControlName="cantidadProducto"
                    />
                    <mat-error
                      *ngIf="
                        productoForm
                          .get('cantidadProducto')
                          .hasError('required')
                      "
                    >
                      Por favor ingrese una cantidad
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Costo unitario</mat-label>
                    <input
                      matInput
                      type="number"
                      formControlName="costoUnitarioProducto"
                    />
                    <mat-error
                      *ngIf="
                        productoForm
                          .get('costoUnitarioProducto')
                          .hasError('required')
                      "
                    >
                      Por favor ingrese un costo unitario
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Porcentaje de utilidad</mat-label>
                    <input
                      matInput
                      type="number"
                      formControlName="porcentajeDeUtilidadProducto"
                    />
                    <mat-error
                      *ngIf="
                        productoForm
                          .get('porcentajeDeUtilidadProducto')
                          .hasError('required')
                      "
                    >
                      Por favor ingrese un porcentaje de utilidad
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                color="primary"
                class="pull-right"
              >
                Actualizar Producto
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-data-table
          *ngIf="producto"
          [headers]="headersFabricaciones"
          [information]="informationTable"
          [data]="producto.fabricaciones"
        >
          <ng-template let> </ng-template>
        </app-data-table>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
