<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img class="img-logo" src="/assets/LOGODULCESYMAS.png" alt="logo dulces y mas"></span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
			<button mat-icon-button [matMenuTriggerFor]="appMenu">
			  <mat-icon>person_outline</mat-icon>
			</button>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="salir()">
				<mat-icon>exit_to_app</mat-icon>
				Salir
			</button>
            <button mat-menu-item>Help</button>
          </mat-menu>

        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
