ul li {
  list-style: none;
}
mat-toolbar {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
  z-index: 2;
}
.img-logo {
  width: 50px;
}
/* tabletas */
@media (min-width: 768px) {
  .img-logo {
    width: 10px;
  }
}

/* escritorio normales */
@media (min-width: 992px) {
  .img-logo {
    width: 75px;
  }
}

/* pantallas grandes */
@media (min-width: 1200px) {
  .img-logo {
    width: 100px;
  }
}
